Body{
Background-Color:#111111;
color:#ffffff;
font-family: Helvetica, "Times New Roman";
Width: 600px;
}

.LOGO{
  Float: left;
  Margin: 0, 15px, 0, 0;
  height: 75px;
  width: 50px;
}

.headshot{
Border: 4px solid #ffffff;
Padding:5px, 10px, 5px, 10px;
Margin: 10px, 10px, 10px, 10px;
}

a{
Text-decoration: none;
color:#ffff00;
}

li{
  display: inline-block;
  word-spacing: 15px; 
  Font-size: 18px;
}
