.header{
background-Color:#111111;
background-image: url("005-wood-melamine-subttle-pattern-background-pat.jpg");
color:#ffffff;
font-family: Helvetica, "Times New Roman";
Width: 100%;
Height: 210px;
}

.header h2 {
font-size: 24px;
 text-decoration: none;
}

.header a{
 font-size: 18px;
}
 
.header img:hover{
 color: white;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.header a:hover{
 color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.header a:visted{
 color: #000000;
}

.header h1 {
 font-size: 72px;
}

Body {
Text-align: Center;
background-Color:#111111;
background-image: url("image.png");
color:#ffffff;
font-family: Helvetica, "Times New Roman";
Width: 100%;
}

h3{
 Text-decoration:underline;
 font-size: 22px;
}

.LOGO{
  Float: left;
  height: 75px;
  width: 50px;
}

.headshot{
Padding:2px 2px 2px 2px;
Border: 4px solid #ffffff;
Margin: 10px 0 0 0;
}

a{
Text-decoration: none;
color:#ffffff;
}

.row{
   Font-size: 18px;
}

h2{
  Text-align: Center;
  Text-decoration: underline;
  Font-size: 24px;
}

.nav p{
 display:inline
}

ul
{
    list-style-type: none;
}
